
<h1 class="text-center">Edit "<%= @task.title %>" task</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= render 'form', task: @task %>
      <br>
      <%= link_to "Back to list", tasks_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

